

<div class="container-fluid p-0" id="partialViewStep">
    <h1 class="h5 mb-3 form-title">
        Hồ sơ yêu cầu bảo hiểm
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        <strong>Người được bảo hiểm</strong>
    </h1>
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <ul class="progressbar six-step">
                <li class="active" onclick="onProgressBarClicked('PolicyOwner')">Bên mua bảo hiểm</li>
                <li class="active" onclick="onProgressBarClicked('LifeAssurance')">Người được bảo hiểm</li>
                <li onclick="onProgressBarClicked('PolicyInformation')">Thông tin hợp đồng tín dụng</li>
                <li onclick="onProgressBarClicked('BeneficiaryInformation')">Thông tin người thụ hưởng</li>
                <li onclick="onProgressBarClicked('AddressContact')">Địa chỉ liên hệ</li>
                <li onclick="onProgressBarClicked('Agreement')">Cam kết của BMBH</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card card-body form-control-ui">
                <div class="row button-right-row">
                    <div class="col-md-12">
                        <button class="btn btn-purple-style" type="submit" onclick="onProgressBarClicked('PolicyOwner')"><span class="glyphicon glyphicon-triangle-left"></span> Trở về</button>
                        <button class="btn btn-purple-style" type="submit" onclick="onProgressBarClicked('PolicyInformation')">Tiếp theo <span class="glyphicon glyphicon-triangle-right"></span></button>
                    </div>
                </div>
                <p>
                    <a class="form-title" data-bs-toggle="collapse" href="#collapse01" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <strong>Người được bảo hiểm</strong>
                    </a>
                </p>

                <div class="row">
                    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
                        <div class="card card-body form-control-ui">
                            <div class="card-avatar">
                                <i class="bi bi-file-person fa-3x"></i>
                                    Người 1
                            </div>
                        </div>
                    </div>
                </div>

                <div class="collapse show" id="collapse01">
                    <div class="custom-tab" style="padding: 10px">
                        <div class="nav-tabs-custom" style="background-color: #fff;">
                            <ul class="nav nav-tabs">
                                <li class="active" id="tabGeneralInfor">
                                    <a href="#tab1" data-toggle="tab">Thông tin chung</a>
                                </li>
                                <li id="tabCareer">
                                    <a href="#tab2" data-toggle="tab">Nghề nghiệp</a>
                                </li>
                                <li id="tabContactInfor">
                                    <a href="#tab3" data-toggle="tab">Thông tin liên lạc</a>
                                </li>
                                <li id="tabAddress">
                                    <a href="#tab4" data-toggle="tab">Địa chỉ</a>
                                </li>
                                <li id="tabGeneralQuestions">
                                    <a href="#tab5" data-toggle="tab">Câu hỏi chung</a>
                                </li>
                                <li id="tabThamDinhQuestions">
                                    <a href="#tab6" data-toggle="tab">Câu hỏi thẩm định</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <div style="padding: 10px">
                                        @await Html.PartialAsync("LAInformationPartialViewSub")
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div style="padding: 10px">
                                        @await Html.PartialAsync("LACareerPartialViewSub")
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <div style="padding: 10px">
                                        @await Html.PartialAsync("LAContactInforPartialViewSub")
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab4">
                                    <div style="padding: 10px">
                                        @await Html.PartialAsync("LAAddressPartialViewSub")
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab5">
                                    <div style="padding: 10px">
                                        @await Html.PartialAsync("LAGeneralQuestionPartialViewSub")
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab6">
                                    <div style="padding: 10px">
                                        @await Html.PartialAsync("LAThamDinhQuestionPartialViewSub")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
