@using eSubmission.Models

<div class="modal fade" id="popupChooseCustomer" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" style="background: #00000080;">
    <div class="modal-dialog modal-xl" style="max-height:90%; margin-top: 100px;">
        <div class="modal-content" style="max-height: 90%; overflow-y: auto;">
            <div class="modal-header">
                <h1 class="h4 mb-3 form-title"><strong>Danh sách khách hàng</strong></h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div id="gridChooseCustomerList"></div>                 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSaveChooseCustomer" onclick="onButtonSaveChooseCustomerClicked()" type="button" class="btn btn-purple-style">Chọn</button>
                <button id="btnCloseChooseCustomer" onclick="onButtonCloseChooseCustomerClicked()" type="button" class="btn btn-purple-style">Thoát</button>
            </div>
        </div>
    </div>
</div>

<script>

    function onButtonSaveChooseCustomerClicked() {
        var modal = document.getElementById("popupChooseCustomer");
        modal.classList.remove("show", "in");
        modal.style.display = "none";

        notify("Cập nhật dữ liệu thành công", "success");
    }

    function onButtonCloseChooseCustomerClicked() {
        var modal = document.getElementById("popupChooseCustomer");
        modal.classList.remove("show", "in");
        modal.style.display = "none";
    }

</script>